<div>
	{% load staticfiles %}
	<h1> {{article_random.title}} </h1>
	<div class="panel">
		<div class="panel-body">
			<p>
				<span>{{ article_random.publication_date|date:"l, F dS,Y" }} | </span>
				<a href="{% url 'Articles:detail' article_random.id %}"><span>{{article_random.author}}</span></a>
			</p>
			<div class="thumbnail">
				<img class="fixedHeightWidth" src="{% static article_random.hero_image %}" alt="{{article_random.id}}"></img>
			</div>
			<p class="textarea-type">{{article_random.article_text}}</p>
		</div>
	</div>
</div>