.thumbnail {
    border-radius: 0;
	border: 1px solid #000000;
	padding:0;
}
.borderRight{
	border: 0.5px solid #000000;
}
.thumbnail a {
	img {
		width: 100%;
		height: 100%;
		margin-bottom: 10px;
	}
}
.thumbnail a > p {
	word-break: break-all;
}

#sidebar {
	border: 1px solid #000000;
	padding-top:100px;
}
.searchNavbar {
	border-top: 1px solid #000000;
	padding:2px;
	font-size: 28px;
	height: 40px;
}
.floatLeft {
	float:left;	
}
.width50{
	width:50%;
}
.pictures {
	border-top: 1px solid #000000;
	padding:10px;
}

#readNext  {
	border-top: 1px solid #000000;
}

#bottomTitle {
	float:left;
	width:75%;
	height:100%;
}

#bottomTitle p {
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
.pagerIcons {
	float:left;
	width:25%;
	height:100%;
	ul {
		margin:0px;
	}
}

.pager {
	margin:3px 0 0 0;
	text-align: right;
}
.clearBoth {
	clear:both;
}
.borderTopBottom {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	height:40px;
}

.bottomThumbails {
	height:180px;
	padding-top:20px;
}

.bottomThumbImag {
	height:150px !important;
}

.height100 {
	height:100%;
}

.height80 {
	height:80% !important;
}

.overflowHide {
	padding-top:8px;
	overflow:hidden;
	white-space: nowrap;
}

.boxBorder {
	height:100px;
	margin:1px;
}
.width100 {
	width:100%;
}
.width70 {
	width:70%;
	margin: auto;
}
.fixedHeightWidth {
	height:140px !important;
}
.emHigher {
	font-size:20px;
}
.emHigherBadge {
	font-size:3em;
}
.numberDiv {
	float:left;
	width:10%;
	height: 180px;
    padding-top: 60px;
}
.detailsDiv{
	float:left;
	width:90%;
}
.textarea-type-list {
  line-height: 1.5em;
  height: 6em;
  overflow: hidden;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  vertical-align: top;
  font-size: 100%;
  margin: auto;
  text-decoration: none;
  text-overflow: ellipsis;
}
.textarea-type {
  line-height: 1.5em;
  height: 9em;
  overflow: hidden;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  vertical-align: top;
  font-size: 100%;
  margin: auto;
  text-decoration: none;
  text-overflow: ellipsis;
}

#listView {
}